<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitialServlet</servlet-name>
        <servlet-class>controller.InitialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProduct</servlet-name>
        <servlet-class>controller.GetAllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBannerServlet</servlet-name>
        <servlet-class>controller.AdminAddBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllBannerServlet</servlet-name>
        <servlet-class>controller.AdminGetAllBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllProduct</servlet-name>
        <servlet-class>controller.AdminGetAllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllStaff</servlet-name>
        <servlet-class>controller.AdminGetAllStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllCustomer</servlet-name>
        <servlet-class>controller.AdminGetAllCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>controller.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCategories</servlet-name>
        <servlet-class>controller.AdminAddCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProduct</servlet-name>
        <servlet-class>controller.AdminAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInitialServlet</servlet-name>
        <servlet-class>controller.AdminInitialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllReport</servlet-name>
        <servlet-class>controller.AdminGetAllReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCustomer</servlet-name>
        <servlet-class>controller.AdminAddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllUser</servlet-name>
        <servlet-class>controller.AdminGetAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBanner</servlet-name>
        <servlet-class>controller.AdminDeleteBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetBanner</servlet-name>
        <servlet-class>controller.AdminGetBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateBanner</servlet-name>
        <servlet-class>controller.AdminUpdateBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRole</servlet-name>
        <servlet-class>controller.AdminAddRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStaff</servlet-name>
        <servlet-class>controller.AdminAddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteStaff</servlet-name>
        <servlet-class>controller.AdminDeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSuspendStaff</servlet-name>
        <servlet-class>controller.AdminSuspendStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateStaff</servlet-name>
        <servlet-class>controller.AdminUpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetStaff</servlet-name>
        <servlet-class>controller.AdminGetStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetProduct</servlet-name>
        <servlet-class>controller.AdminGetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProduct</servlet-name>
        <servlet-class>controller.AdminUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <servlet-class>controller.AdminDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategories</servlet-name>
        <servlet-class>controller.AdminDeleteCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetCategories</servlet-name>
        <servlet-class>controller.AdminGetCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateCategories</servlet-name>
        <servlet-class>controller.AdminUpdateCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddServlet</servlet-name>
        <servlet-class>controller.CartAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveServlet</servlet-name>
        <servlet-class>controller.CartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantityServlet</servlet-name>
        <servlet-class>controller.CartQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>controller.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartHandleInput</servlet-name>
        <servlet-class>controller.CartHandleInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllDiscount</servlet-name>
        <servlet-class>controller.AdminGetAllDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddDiscount</servlet-name>
        <servlet-class>controller.AdminAddDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteDiscount</servlet-name>
        <servlet-class>controller.AdminDeleteDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetDiscount</servlet-name>
        <servlet-class>controller.AdminGetDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateDiscount</servlet-name>
        <servlet-class>controller.AdminUpdateDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>controller.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <servlet-class>controller.CartCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>controller.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>controller.PaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllOrders</servlet-name>
        <servlet-class>controller.AdminGetAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetOrder</servlet-name>
        <servlet-class>controller.AdminGetOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchOrder</servlet-name>
        <servlet-class>controller.AdminSearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateOrderStatus</servlet-name>
        <servlet-class>controller.AdminUpdateOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateShippingStatus</servlet-name>
        <servlet-class>controller.AdminUpdateShippingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>controller.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSubscribe</servlet-name>
        <servlet-class>controller.EmailSubscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedback</servlet-name>
        <servlet-class>controller.SendFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllFeedback</servlet-name>
        <servlet-class>controller.AdminGetAllFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetFeedback</servlet-name>
        <servlet-class>controller.AdminGetFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateFeedbackStatus</servlet-name>
        <servlet-class>controller.AdminUpdateFeedbackStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigureRoles</servlet-name>
        <servlet-class>controller.ConfigureRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorCount</servlet-name>
        <servlet-class>controller.VisitorCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReport</servlet-name>
        <servlet-class>controller.GenerateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewReportPdf</servlet-name>
        <servlet-class>controller.AdminViewReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteReport</servlet-name>
        <servlet-class>controller.AdminDeleteReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddPayment</servlet-name>
        <servlet-class>controller.AdminAddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeletePayment</servlet-name>
        <servlet-class>controller.AdminDeletePayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitialServlet</servlet-name>
        <url-pattern>/InitialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProduct</servlet-name>
        <url-pattern>/GetAllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBannerServlet</servlet-name>
        <url-pattern>/AddBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllBannerServlet</servlet-name>
        <url-pattern>/GetAllBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllProduct</servlet-name>
        <url-pattern>/AdminGetAllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllStaff</servlet-name>
        <url-pattern>/AdminGetAllStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllCustomer</servlet-name>
        <url-pattern>/AdminGetAllCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCategories</servlet-name>
        <url-pattern>/AdminAddCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProduct</servlet-name>
        <url-pattern>/AdminAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInitialServlet</servlet-name>
        <url-pattern>/AdminInitialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllReport</servlet-name>
        <url-pattern>/AdminGetAllReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCustomer</servlet-name>
        <url-pattern>/AdminAddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllUser</servlet-name>
        <url-pattern>/AdminGetAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBanner</servlet-name>
        <url-pattern>/AdminDeleteBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetBanner</servlet-name>
        <url-pattern>/AdminGetBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateBanner</servlet-name>
        <url-pattern>/AdminUpdateBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRole</servlet-name>
        <url-pattern>/AdminAddRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStaff</servlet-name>
        <url-pattern>/AdminAddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteStaff</servlet-name>
        <url-pattern>/AdminDeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSuspendStaff</servlet-name>
        <url-pattern>/AdminSuspendStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateStaff</servlet-name>
        <url-pattern>/AdminUpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetStaff</servlet-name>
        <url-pattern>/AdminGetStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetProduct</servlet-name>
        <url-pattern>/AdminGetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProduct</servlet-name>
        <url-pattern>/AdminUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/AdminDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategories</servlet-name>
        <url-pattern>/AdminDeleteCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetCategories</servlet-name>
        <url-pattern>/AdminGetCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateCategories</servlet-name>
        <url-pattern>/AdminUpdateCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddServlet</servlet-name>
        <url-pattern>/CartAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveServlet</servlet-name>
        <url-pattern>/CartRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantityServlet</servlet-name>
        <url-pattern>/CartQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartHandleInput</servlet-name>
        <url-pattern>/CartHandleInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllDiscount</servlet-name>
        <url-pattern>/AdminGetAllDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddDiscount</servlet-name>
        <url-pattern>/AdminAddDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteDiscount</servlet-name>
        <url-pattern>/AdminDeleteDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetDiscount</servlet-name>
        <url-pattern>/AdminGetDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateDiscount</servlet-name>
        <url-pattern>/AdminUpdateDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/BuyNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <url-pattern>/CartCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/DiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/PaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllOrders</servlet-name>
        <url-pattern>/AdminGetAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetOrder</servlet-name>
        <url-pattern>/AdminGetOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/ViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchOrder</servlet-name>
        <url-pattern>/AdminSearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateOrderStatus</servlet-name>
        <url-pattern>/AdminUpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateShippingStatus</servlet-name>
        <url-pattern>/AdminUpdateShippingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSubscribe</servlet-name>
        <url-pattern>/EmailSubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedback</servlet-name>
        <url-pattern>/SendFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllFeedback</servlet-name>
        <url-pattern>/AdminGetAllFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetFeedback</servlet-name>
        <url-pattern>/AdminGetFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateFeedbackStatus</servlet-name>
        <url-pattern>/AdminUpdateFeedbackStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigureRoles</servlet-name>
        <url-pattern>/ConfigureRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorCount</servlet-name>
        <url-pattern>/VisitorCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReport</servlet-name>
        <url-pattern>/GenerateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewReportPdf</servlet-name>
        <url-pattern>/AdminViewReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteReport</servlet-name>
        <url-pattern>/AdminDeleteReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddPayment</servlet-name>
        <url-pattern>/AdminAddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeletePayment</servlet-name>
        <url-pattern>/AdminDeletePayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
